body {
  overflow: hidden;
  background-image: #b69d74;
  background-image: radial-gradient(
    circle,
    #ede7dd 0%,
    #c4b08f 70%,
    #b69d74 100%
  );
}

/*cards*/
.box {
  margin: 1vh;
  padding: 0;
  margin-top: 2vh;
  vertical-align: middle;
  border: 0px;
  font-family: sans-serif;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 1);
}

.card-header {
  color: #1f2839;
  padding-bottom: 0;
}

.card-body {
  color: #f5f5ef;
  background-color: #1f2839;
}

footer {
  background-color: #1f2839;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.num {
  font-weight: bold;
  font-family: sans-serif;
}

/*dotted rotation */

/* Circle */

.circle:before,
.circle:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid black;
  border-radius: 50%;
}

.circle:before {
  animation: ripple 2s linear infinite;
}

.circle:after {
  animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

/* Animation of cards*/

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* Circle */
.circle1 {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  border-top: 8px dashed #000000;
  border-right: 8px dashed #000000;
  border-left: 8px dashed #000000;
  border-bottom: 8px dashed #000000;
  padding: 10px;
  animation: spin 10s infinite linear;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text {
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 170px;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
}
/* Animation of 3 circles*/

.wrapper {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.shutter .flap-0 svg {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.shutter {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border-top: 8px dashed #000000;
  border-right: 8px dashed #000000;
  border-left: 8px dashed #000000;
  border-bottom: 8px dashed #000000;
  padding: 10px;
  animation: spin 10s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

.shutter [class^="flap-"] {
  left: 3px;
  top: -7px;
  position: absolute;
  width: 172px;
  height: 150px;
  background: #202020;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform-origin: 0% 100%;
  transition: transform ease 5s;
}
.shutter .flap-0 {
  transform: translate(-0px, -150px) rotate(40deg);
  width: 0px;
  z-index: 100;
}
.shutter .flap-1 {
  transform: translate(0px, -150px) rotate(40deg);
  width: 0px;
}
.shutter .flap-2 {
  transform: translate(96px, -182px) rotate(85deg);
}
.shutter .flap-3 {
  transform: translate(186px, -136px) rotate(130deg);
}
.shutter .flap-4 {
  transform: translate(218px, -40px) rotate(175deg);
}
.shutter .flap-5 {
  transform: translate(172px, 50px) rotate(220deg);
}
.shutter .flap-6 {
  transform: translate(76px, 82px) rotate(265deg);
}
.shutter .flap-7 {
  transform: translate(-14px, 36px) rotate(310deg);
}
.shutter .flap-8 {
  transform: translate(-46px, -60px) rotate(355deg);
  width: 152px;
}

.test .flap-0 {
  transform: translate(0px, -150px) rotate(-40deg);
  width: 0px;
  z-index: 100;
}
.test .flap-1 {
  transform: translate(0px, -150px) rotate(-40deg);
}
.test .flap-2 {
  transform: translate(96px, -182px) rotate(5deg);
}
.test .flap-3 {
  transform: translate(186px, -136px) rotate(50deg);
}
.test .flap-4 {
  transform: translate(218px, -40px) rotate(95deg);
}
.test .flap-5 {
  transform: translate(172px, 50px) rotate(140deg);
}
.test .flap-6 {
  transform: translate(76px, 82px) rotate(185deg);
}
.test .flap-7 {
  transform: translate(-14px, 36px) rotate(230deg);
}
.test .flap-8 {
  transform: translate(-46px, -60px) rotate(275deg);
  width: 152px;
}

.wrapper {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.shutter1 .view-0 svg {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.shutter1 {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 200px;

  border: 8px solid #101010;
}
.shutter1 [class^="view-"] {
  left: 3px;
  top: -7px;
  position: absolute;
  width: 172px;
  height: 150px;
  background: #202020;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform-origin: 0% 100%;
  transition: transform ease 5s;
}
.shutter1 .view-0 {
  transform: translate(0px, -150px) rotate(40deg);
  width: 0px;
  z-index: 100;
}
.shutter1 .view-1 {
  transform: translate(0px, -150px) rotate(40deg);
  width: 0px;
}
.shutter1 .view-2 {
  transform: translate(96px, -182px) rotate(85deg);
}
.shutter1 .view-3 {
  transform: translate(186px, -136px) rotate(130deg);
}
.shutter1 .view-4 {
  transform: translate(218px, -40px) rotate(175deg);
}
.shutter1 .view-5 {
  transform: translate(172px, 50px) rotate(220deg);
}
.shutter1 .view-6 {
  transform: translate(76px, 82px) rotate(265deg);
}
.shutter1 .view-7 {
  transform: translate(-14px, 36px) rotate(310deg);
}
.shutter1 .view-8 {
  transform: translate(-46px, -60px) rotate(355deg);
  width: 152px;
}

.test1 .view-0 {
  transform: translate(0px, -150px) rotate(-40deg);
  width: 0px;
  z-index: 100;
}
.test1 .view-1 {
  transform: translate(0px, -150px) rotate(-40deg);
}
.test1 .view-2 {
  transform: translate(96px, -182px) rotate(5deg);
}
.test1 .view-3 {
  transform: translate(186px, -136px) rotate(50deg);
}
.test1 .view-4 {
  transform: translate(218px, -40px) rotate(95deg);
}
.test1 .view-5 {
  transform: translate(172px, 50px) rotate(140deg);
}
.test1 .view-6 {
  transform: translate(76px, 82px) rotate(185deg);
}
.test1 .view-7 {
  transform: translate(-14px, 36px) rotate(230deg);
}
.test1 .view-8 {
  transform: translate(-46px, -60px) rotate(275deg);
  width: 152px;
}

.wrapper {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.shutter2 .r-0 svg {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.shutter2 {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 200px;

  border: 8px solid #101010;
}
.shutter2 [class^="r-"] {
  left: 3px;
  top: -7px;
  position: absolute;
  width: 172px;
  height: 150px;
  background: #202020;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform-origin: 0% 100%;
  transition: transform ease 5s;
}
.shutter2 .r-0 {
  transform: translate(0px, -150px) rotate(40deg);
  width: 0px;
  z-index: 100;
}
.shutter2 .r-1 {
  transform: translate(0px, -150px) rotate(40deg);
  width: 0px;
}
.shutter2 .r-2 {
  transform: translate(96px, -182px) rotate(85deg);
}
.shutter2 .r-3 {
  transform: translate(186px, -136px) rotate(130deg);
}
.shutter2 .r-4 {
  transform: translate(218px, -40px) rotate(175deg);
}
.shutter2 .r-5 {
  transform: translate(172px, 50px) rotate(220deg);
}
.shutter2 .r-6 {
  transform: translate(76px, 82px) rotate(265deg);
}
.shutter2 .r-7 {
  transform: translate(-14px, 36px) rotate(310deg);
}
.shutter2 .r-8 {
  transform: translate(-46px, -60px) rotate(355deg);
  width: 152px;
}

.test2 .r-0 {
  transform: translate(0px, -150px) rotate(-40deg);
  width: 0px;
  z-index: 100;
}
.test2 .r-1 {
  transform: translate(0px, -150px) rotate(-40deg);
}
.test2 .r-2 {
  transform: translate(96px, -182px) rotate(5deg);
}
.test2 .r-3 {
  transform: translate(186px, -136px) rotate(50deg);
}
.test2 .r-4 {
  transform: translate(218px, -40px) rotate(95deg);
}
.test2 .r-5 {
  transform: translate(172px, 50px) rotate(140deg);
}
.test2 .r-6 {
  transform: translate(76px, 82px) rotate(185deg);
}
.test2 .r-7 {
  transform: translate(-14px, 36px) rotate(230deg);
}
.test2 .r-8 {
  transform: translate(-46px, -60px) rotate(275deg);
  width: 152px;
}

.wrapper {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.shutter3 .s-0 svg {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.shutter3 {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border-top: 8px dashed #000000;
  border-right: 8px dashed #000000;
  border-left: 8px dashed #000000;
  border-bottom: 8px dashed #000000;
  padding: 10px;
  animation: spin 10s infinite linear;
}
.shutter3 [class^="s-"] {
  left: 3px;
  top: -7px;
  position: absolute;
  width: 172px;
  height: 150px;
  background: #202020;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform-origin: 0% 100%;
  transition: transform ease 5s;
}
.shutter3 .s-0 {
  transform: translate(0px, -150px) rotate(40deg);
  width: 0px;
  z-index: 100;
}
.shutter3 .s-1 {
  transform: translate(0px, -150px) rotate(40deg);
  width: 0px;
}
.shutter3 .s-2 {
  transform: translate(96px, -182px) rotate(85deg);
}
.shutter3 .s-3 {
  transform: translate(186px, -136px) rotate(130deg);
}
.shutter3 .s-4 {
  transform: translate(218px, -40px) rotate(175deg);
}
.shutter3 .s-5 {
  transform: translate(172px, 50px) rotate(220deg);
}
.shutter3 .s-6 {
  transform: translate(76px, 82px) rotate(265deg);
}
.shutter3 .s-7 {
  transform: translate(-14px, 36px) rotate(310deg);
}
.shutter3 .s-8 {
  transform: translate(-46px, -60px) rotate(355deg);
  width: 152px;
}

.test3 .s-0 {
  transform: translate(0px, -150px) rotate(-40deg);
  width: 0px;
  z-index: 100;
}
.test3 .s-1 {
  transform: translate(0px, -150px) rotate(-40deg);
}
.test3 .s-2 {
  transform: translate(96px, -182px) rotate(5deg);
}
.test3 .s-3 {
  transform: translate(186px, -136px) rotate(50deg);
}
.test3 .s-4 {
  transform: translate(218px, -40px) rotate(95deg);
}
.test3 .s-5 {
  transform: translate(172px, 50px) rotate(140deg);
}
.test3 .s-6 {
  transform: translate(76px, 82px) rotate(185deg);
}
.test3 .s-7 {
  transform: translate(-14px, 36px) rotate(230deg);
}
.test3 .s-8 {
  transform: translate(-46px, -60px) rotate(275deg);
  width: 152px;
}

/*media queries for responsive */

@media only screen and (max-width: 992px) {
  .container {
    padding: 10px;
  }
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .hide {
    display: none !important;
  }
  .c1 {
    margin-top: 30px !important;
  }
  .c2 {
    margin-top: 110px !important;
  }
  .c3 {
    margin-top: 160px !important;
  }
  .c4 {
    margin-top: 150px !important;
  }
  #adjust {
    padding: 5% !important;
  }
}

@media only screen and (max-width: 769px) {
  #adjust {
    padding: 5% !important;
  }

  .container {
    padding: 10px;
  }
}

@media (max-width: 454px) {
  #adjust {
    padding: 5% !important;
  }

  .container {
    padding: 10px;
  }
}

@media (max-width: 380px) {
  #adjust {
    padding: 5% !important;
  }

  .container {
    padding: 10px;
  }
}

@media (max-width: 330px) {
  #adjust {
    padding: 5% !important;
  }

  .container {
    padding: 10px;
  }
}
