body
{
    overflow: hidden;
    background-color:#B69D74;
}

/*cards*/
.box {
    margin: 1vh;
    padding: 0;
    margin-top: 2vh;
    vertical-align: middle;
    border: 0px;
    font-family: sans-serif;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 1);
}

.card-header
{
  color: #1F2839;
  padding-bottom:0;
}


.card-body
{
  color: #F5F5EF;
  background-color: #1F2839;

}

footer {
    background-color: #1F2839;

}

.container{
    position:relative;
    text-align:center;
    color:black;
}

.num
{
  font-weight: bold;  font-family: 'Abril Fatface', serif;
}


/* Circle */


.circle:before,
.circle:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid black;
  border-radius: 50%;
}


.circle:before {
  animation: ripple 2s linear infinite;
}

.circle:after {
  animation: ripple 2s linear 1s infinite;
}

@keyframes ripple{
  0% { transform: scale(1); }
  50% { transform: scale(1.3); opacity:1; }
  100% { transform: scale(1.6); opacity:0; }
}

/* Text */
.text {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  margin: 0;
}
/* Animation of cards*/

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* Animation of 3 circles*/

  .wrapper {
	position: absolute;
	width: 200px;
	height: 200px;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  }

  .shutter .flap-0 svg {
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  }

  .shutter {
	overflow: hidden;
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 200px;

    border: 12px solid #101010;

  }
  .shutter [class^="flap-"] {
    left: 3px;
    top: -7px;
	position: absolute;
	width: 172px;
	height: 150px;
	background: #202020;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	transform-origin: 0% 100%;
	transition: transform ease 5s;
  }
  .shutter .flap-0 {
	transform: translate(-0px, -150px) rotate(40deg);
	width: 0px;
	z-index: 100;
  }
  .shutter .flap-1 {
	transform: translate(0px, -150px) rotate(40deg);
	width: 0px;
  }
  .shutter .flap-2 {
	transform: translate(96px, -182px) rotate(85deg);
  }
  .shutter .flap-3 {
	transform: translate(186px, -136px) rotate(130deg);
  }
  .shutter .flap-4 {
	transform: translate(218px, -40px) rotate(175deg);
  }
  .shutter .flap-5 {
	transform: translate(172px, 50px) rotate(220deg);
  }
  .shutter .flap-6 {
	transform: translate(76px, 82px) rotate(265deg);
  }
  .shutter .flap-7 {
	transform: translate(-14px, 36px) rotate(310deg);
  }
  .shutter .flap-8 {
	transform: translate(-46px, -60px) rotate(355deg);
	width: 152px;
  }

  .test .flap-0 {
	transform: translate(0px, -150px) rotate(-40deg);
	width: 0px;
	z-index: 100;
  }
  .test .flap-1 {
	transform: translate(0px, -150px) rotate(-40deg);
  }
  .test .flap-2 {
	transform: translate(96px, -182px) rotate(5deg);
  }
  .test .flap-3 {
	transform: translate(186px, -136px) rotate(50deg);
  }
  .test .flap-4 {
	transform: translate(218px, -40px) rotate(95deg);
  }
  .test .flap-5 {
	transform: translate(172px, 50px) rotate(140deg);
  }
  .test .flap-6 {
	transform: translate(76px, 82px) rotate(185deg);
  }
  .test .flap-7 {
	transform: translate(-14px, 36px) rotate(230deg);
  }
  .test .flap-8 {
	transform: translate(-46px, -60px) rotate(275deg);
	width: 152px;
  }

  .wrapper {
	position: absolute;
	width: 200px;
	height: 200px;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  }

  .shutter1 .view-0 svg {
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  }

  .shutter1 {
	overflow: hidden;
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 200px;

    border: 12px solid #101010;

  }
  .shutter1 [class^="view-"] {
left: 3px;
top: -7px;
	position: absolute;
	width: 172px;
	height: 150px;
	background: #202020;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	transform-origin: 0% 100%;
	transition: transform ease 5s;
  }
  .shutter1 .view-0 {
	transform: translate(0px, -150px) rotate(40deg);
	width: 0px;
	z-index: 100;
  }
  .shutter1 .view-1 {
	transform: translate(0px, -150px) rotate(40deg);
	width: 0px;
  }
  .shutter1 .view-2 {
	transform: translate(96px, -182px) rotate(85deg);
  }
  .shutter1 .view-3 {
	transform: translate(186px, -136px) rotate(130deg);
  }
  .shutter1 .view-4 {
	transform: translate(218px, -40px) rotate(175deg);
  }
  .shutter1 .view-5 {
	transform: translate(172px, 50px) rotate(220deg);
  }
  .shutter1 .view-6 {
	transform: translate(76px, 82px) rotate(265deg);
  }
  .shutter1 .view-7 {
	transform: translate(-14px, 36px) rotate(310deg);
  }
  .shutter1 .view-8 {
	transform: translate(-46px, -60px) rotate(355deg);
	width: 152px;
  }

  .test1 .view-0 {
	transform: translate(0px, -150px) rotate(-40deg);
	width: 0px;
	z-index: 100;
  }
  .test1 .view-1 {
	transform: translate(0px, -150px) rotate(-40deg);
  }
  .test1 .view-2 {
	transform: translate(96px, -182px) rotate(5deg);
  }
  .test1 .view-3 {
	transform: translate(186px, -136px) rotate(50deg);
  }
  .test1 .view-4 {
	transform: translate(218px, -40px) rotate(95deg);
  }
  .test1 .view-5 {
	transform: translate(172px, 50px) rotate(140deg);
  }
  .test1 .view-6 {
	transform: translate(76px, 82px) rotate(185deg);
  }
  .test1 .view-7 {
	transform: translate(-14px, 36px) rotate(230deg);
  }
  .test1 .view-8 {
	transform: translate(-46px, -60px) rotate(275deg);
	width: 152px;
  }





  .wrapper {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }

    .shutter2 .r-0 svg {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    }

    .shutter2 {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 200px;

      border: 12px solid #101010;

    }
    .shutter2 [class^="r-"] {
      left: 3px;
      top: -7px;
    position: absolute;
    width: 172px;
    height: 150px;
    background: #202020;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transform-origin: 0% 100%;
    transition: transform ease 5s;
    }
    .shutter2 .r-0 {
    transform: translate(0px, -150px) rotate(40deg);
    width: 0px;
    z-index: 100;
    }
    .shutter2 .r-1 {
    transform: translate(0px, -150px) rotate(40deg);
    width: 0px;
    }
    .shutter2 .r-2 {
    transform: translate(96px, -182px) rotate(85deg);
    }
    .shutter2 .r-3 {
    transform: translate(186px, -136px) rotate(130deg);
    }
    .shutter2 .r-4 {
    transform: translate(218px, -40px) rotate(175deg);
    }
    .shutter2 .r-5 {
    transform: translate(172px, 50px) rotate(220deg);
    }
    .shutter2 .r-6 {
    transform: translate(76px, 82px) rotate(265deg);
    }
    .shutter2 .r-7 {
    transform: translate(-14px, 36px) rotate(310deg);
    }
    .shutter2 .r-8 {
    transform: translate(-46px, -60px) rotate(355deg);
    width: 152px;
    }

    .test2 .r-0 {
    transform: translate(0px, -150px) rotate(-40deg);
    width: 0px;
    z-index: 100;
    }
    .test2 .r-1 {
    transform: translate(0px, -150px) rotate(-40deg);
    }
    .test2 .r-2 {
    transform: translate(96px, -182px) rotate(5deg);
    }
    .test2 .r-3 {
    transform: translate(186px, -136px) rotate(50deg);
    }
    .test2 .r-4 {
    transform: translate(218px, -40px) rotate(95deg);
    }
    .test2 .r-5 {
    transform: translate(172px, 50px) rotate(140deg);
    }
    .test2 .r-6 {
    transform: translate(76px, 82px) rotate(185deg);
    }
    .test2 .r-7 {
    transform: translate(-14px, 36px) rotate(230deg);
    }
    .test2 .r-8 {
    transform: translate(-46px, -60px) rotate(275deg);
    width: 152px;
    }


  /*media queries for responsive */


    @media only screen and (max-width: 992px)
    {

    .container{
      padding:10px;

    }
    body
    {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #adjust{padding: 3% !important;}
    }

    @media only screen and (max-width: 769px)
    {
        #adjust
        {padding: 3% !important;}

    .container{
      padding:10px;

    }

    }

    @media (max-width: 454px) {
            #adjust
        {padding: 3% !important;}

    .container{
      padding:10px;

    }

     }

     @media (max-width: 380px) {
                 #adjust
        {padding: 3% !important;}

    .container{
      padding:10px;

    }

     }

     @media (max-width: 330px){
                 #adjust
        {padding: 3% !important;}

    .container{
      padding:10px;

    }
        }




